@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Outfit:wght@300;400;600&family=Roboto:wght@100;300;500;900&display=swap');

:root {
  --blue-primary: hsla(202, 89%, 24%, 1);
  --blue-secundary: hsla(202, 80%, 14%, 1);
  --green-primary: hsla(151, 70%, 49%, 1);
  --white-primary: hsla(0, 0%, 100%, 1);
  --gray-primary: hsla(0, 0%, 85%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
  align-items: center;
}

body {
  background-color: var(--blue-secundary);
  position: relative;
  height: 100%;
  max-width: 1920px;
}

a {
  text-decoration: none;
  color: var(--white-primary);
  transition: 0.5s;
}

a:hover {
  color: var(--green-primary);
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 70px;
  color: var(--white-primary);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.links-menu {
  font-size: 15px;
  font-weight: 400;
  list-style: none;
  margin: 10px 25px;
}

.links-menu > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 10px;
}

svg:hover path{
  fill: var(--green-primary);
  stroke: var(--green-primary);
}

.container-destaque {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}

/* .separador::after {
  content: "";
  display: flex;
  width: 90%;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  height: 2px;
  margin: 10px auto;
} */

/* .destaque-slider {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-top: 20px;
  max-width: 1400px;
} */

/* .img-destaque {
  max-width: 1080px;
  width: 100%;
  height: auto;
} */

/* .destaque-slider > .img-destaque:nth-child(odd) {
  max-width: 1080px;
  width: 240px;
  height: auto;
  margin: 0 20px 0 20px;
} */

/* .detalhes-destaque {
  position: absolute;
  top: 340px;
  margin-left: 50px;
  color: var(--white-primary);
} */

/* .detalhes-destaque {
  clear: both !important;
} */

/* .detalhes-destaque > h1 {
  font-size: 54px;
}

.detalhes-destaque > p {
  font-size: 40px;
  font-weight: 300;
}

.info-detalhes > img {
  margin-right: 10px;
}

.info-detalhes > span {
  font-size: 18px;
  margin-right: 10px;
}

.info-detalhes {
  display: flex;
  align-items: center;
  align-self: center;
}

.btnInfo {
  width: 125px;
  height: 35px;
  border: 1px solid var(--green-primary);
  background-color: rgba(255, 255, 255, 0);
  color: var(--green-primary);
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.btnInfo:hover,
.btnFavoritos:hover {
  background-color: rgba(255, 255, 255, 0.250);
}

.btnFavoritos {
  width: 35px;
  height: 35px;
  border: 1px solid var(--green-primary);
  background-color: rgba(255, 255, 255, 0);
  color: var(--green-primary);
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50%;
} */


.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 18px;
  width: 980px;
  height: 500px;
  border-radius: 10px !important;
}

.swiper-slide img {
  max-width: 90%;
  width: 100%;
  height: auto;
  object-fit: fill;
}

.swiper .swiper-slide {
  width: 1000px;
  height: 500px;
  line-height: 300px;
}

.swiper .swiper-slide:nth-child(2n) {
  height: 500px;
  line-height: 500px;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none !important;
}

.swiper-button-next, .swiper-button-prev {
  opacity: 0 !important;
  transition: 0.5s !important;
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  opacity: 1 !important;
  transition: 0.5s !important;
}































/* RESPONSIVO */
@media (max-width: 600px)
{
  .destaque-slider {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .img-destaque {
    width: 340px;
    height: auto;
  }
  
  .destaque-slider > .img-destaque:nth-child(odd) {
    width: 340px;
    height: 192px;
  }

  .detalhes-destaque {
    position: absolute;
    top: 240px;
    margin-left: 25px;
    color: var(--white-primary);
  }

  .detalhes-destaque > h1 {
    font-size: 24px;
  }
  
  .detalhes-destaque > p {
    font-size: 20px;
    font-weight: 300;
  }
  
  .info-detalhes > img {
    margin-right: 10px;
  }
  
  .info-detalhes > span {
    font-size: 12px;
    margin-right: 10px;
  }
  
  .btnInfo {
    width: 125px;
    height: 35px;
    font-size: 14px;
  }

  .separador {
    margin-top: 120px;
  }
}